<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>573</real>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>530 470 620 398 0 0 1680 1025 </string>
	<key>Paddle-Hookshot-580977-SD</key>
	<string>33f9fd2d7af0ae101d86bc9965164f9e9ff1d8f0b57c7a604ef052b2f91621ee</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2021-08-01T17:47:49Z</date>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>WebKitCacheModelPreferenceKey</key>
	<integer>1</integer>
	<key>almostMaximize</key>
	<dict>
		<key>keyCode</key>
		<integer>44</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>almostMaximizeHeight</key>
	<real>1</real>
	<key>almostMaximizeWidth</key>
	<real>0.80000001192092896</real>
	<key>applyGapToEdges</key>
	<integer>2</integer>
	<key>bottomHalf</key>
	<dict/>
	<key>bottomLeft</key>
	<dict/>
	<key>bottomRight</key>
	<dict/>
	<key>cascadeAll</key>
	<dict/>
	<key>cascadeApp</key>
	<dict/>
	<key>centerThird</key>
	<dict/>
	<key>firstThird</key>
	<dict/>
	<key>firstTwoThirds</key>
	<dict/>
	<key>gestures</key>
	<string>[32,{"flags":0,"trail":0},35,{"flags":0,"trail":0},33,{"flags":0,"trail":0}]</string>
	<key>larger</key>
	<dict/>
	<key>lastThird</key>
	<dict/>
	<key>lastTwoThirds</key>
	<dict/>
	<key>lastVersion</key>
	<string>52</string>
	<key>launchOnLogin</key>
	<true/>
	<key>manualSpecs</key>
	<string>[{"id":1,"shortcut":{"keyCode":42,"modifierFlags":786432},"w":"1680","loc":0,"h":"1050","children":[]},{"id":2,"shortcut":{"keyCode":42,"modifierFlags":917504},"w":"860","loc":0,"h":"900","children":[]}]</string>
	<key>maximizeHeight</key>
	<dict/>
	<key>revealDesktopEdge</key>
	<dict/>
	<key>smaller</key>
	<dict/>
	<key>tile2x2</key>
	<dict/>
	<key>topHalf</key>
	<dict/>
	<key>topLeft</key>
	<dict/>
	<key>topRight</key>
	<dict/>
	<key>unsnapRestore</key>
	<integer>2</integer>
	<key>windowSnapping</key>
	<integer>2</integer>
</dict>
</plist>
