"*":
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
    use: {}
  "atom-jest-snippets": {}
  "atom-package-deps":
    ignored: [
      "linter-eslint"
    ]
  "bracket-matcher":
    highlightMatchingLineNumber: true
  "command-palette":
    preserveLastSearch: true
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "deprecation-cop"
      "image-view"
      "archive-view"
      "welcome"
      "background-tips"
      "timecop"
      "language-java"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-toml"
      "language-typescript"
      "spell-check"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    projectHome: "/Users/ali/Development"
    telemetryConsent: "limited"
  editor:
    fontSize: 19
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "356841a2-c458-4982-b7b8-e162248d00d2"
  "find-and-replace":
    liveSearchMinimumCharacters: 2
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    prefillFromSelection: true
    preserveLastSearch: true
  github:
    viewChangesForCurrentFileDiffPaneSplitDirection: "right"
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
    minimumLength: 1
  "indentation-indicator":
    spaceAfterColon: true
  "language-babel":
    allowLocalOverride: true
  "linter-ui-default":
    panelHeight: 357
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
