<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.pittle.lightning_audio_adapter</string>

	<key>WorkingDirectory</key>
	<!-- TODO: remove hard-coded path -->
	<string>/Users/ali/Development/dotfiles/software/lightning_audio_adapter/</string>

	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/node</string>
		<string>index.js</string>
	</array>

	<key>KeepAlive</key>
	<false/>

	<!-- run every 2 seconds -->
	<key>StartInterval</key>
	<integer>2</integer>
	<key>ThrottleInterval</key>
	<integer>2</integer>

	<!-- <key>StandardOutPath</key> -->
	<!-- <string>/tmp/org.pittle.lightning_audio_adapter.out</string> -->

	<!-- <key>StandardErrorPath</key> -->
	<!-- <string>/tmp/org.pittle.lightning_audio_adapter.out</string> -->
</dict>
</plist>
